<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":3}]')
 });
 </script>
 
 <div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Time" data-view="Clock" </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Welcome" data-view="Text" data-title="Welcome friend!" data-addclass-danger="isTooHigh"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptimerobot" data-view="Uptimerobot"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="3">
      <div data-id="twitter_search" data-view="CommentList" ></div>
    </li>
  </ul>
</div>
